#calendar-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;


  margin: 45px auto;
  padding-left: 50px;
  padding-right: 30px;
  gap: 30px; 
  max-height: 60vh; 

}

.home-bar {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  padding: 10px;
}

.summary-bar {
  background-color: #f4f4f4;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.summary-bar .task-info {
  display: flex;
  flex-direction: column;
}

.summary-bar .task-info span {
  font-size: 1rem;
  color: #555;
}

.summary-bar .progress-container {
  width: 70%;
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  position: relative;
}

.summary-bar .progress-bar {
  height: 100%;
  background-color: #ff7043;
  border-radius: 5px;
  transition: width 0.3s ease;
}

#calendar {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
}

.calendar-header button:hover {
  color: #ff7043;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day-header {
  text-align: center;
  font-weight: bold;
  color: #555;
}

.calendar-day {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  border-radius: 5px;
}

.calendar-day:hover {
  background-color: #efefef;
}

.calendar-day.empty {
  background-color: #f7f7f7;
}

.calendar-day.past-day {
  color: #ccc;
  cursor: not-allowed;
  background-color: #f7f7f7;
}


@media (max-width: 768px) {
  #calendar-container {
    flex-direction: column;
    align-items: center;
  }

  #calendar {
    width: 90%;
  }

  #summary {
    width: 90%;
  
  }

  .calendar-header {
    font-size: 1rem;
  }

  .calendar-header button {
    font-size: 1.2rem;
  }

  .calendar-day {
    font-size: 0.9rem;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  #calendar-container {
    padding: 10px;
  }

  #calendar {
    width: 100%;
    padding: 15px;
  }

  .calendar-header {
    flex-direction: column;
    text-align: center;
  }

  .calendar-grid {
    gap: 5px;
  }

  .calendar-day {
    font-size: 0.8rem;
    padding: 10px;
  }

  #summary {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
  }
}
